@import url("fonts.css");
body {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: lightgray;
  

  .logo{
    max-width: 12.5rem;
    max-height: 11rem;
  }
  .bem-vindo {
    margin-bottom: 3.125rem;
  }
  

  
 
}
.body {
  display: grid;
  grid-template-columns: 10% 10% 1fr 1fr 10% 10%;

  
}

img {
  margin-top: 50px;
  margin-bottom: 5px;
}

.black-body {
  display: flex;
  flex-direction: column;
  background: #000;

  align-items: center;
  width: 367px;
  height: 625px;
  grid-column: 3;
}

.black-body h3,
p,
a {
  color: white;
  margin: 0px;
  text-decoration: none;
}

p {
  font-size: .9375rem;
}

.bem-vindo h3 {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 4px;
}
.bem-vindo p {
  color: #fff;

  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.black-body a{
  font-family: sans-serif;
  font-weight: 600;
  font-size: .75rem;
  

}

.bem-vindo a {
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  font-style: bold;
  font-weight: 900;
  line-height: normal;
}

.button {
  background-color: black;
  color: white;
  border: solid .125rem white;
  border-radius: 1.125rem;
  padding: 1rem 4rem 1rem 4rem;
  margin-bottom: 1.25rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  width: auto;
  height: auto;
}



.button:hover {
  background-color: gray;
  cursor: pointer;
}


.body-white {
  display: flex;
  flex-direction: column;
  margin-right: 20%;
}

.body-white p {
  text-align: center;
  color: #a5a5a5;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
}

.body-white h3 {
  margin-top: 50px;
  color: #000;
    margin-bottom: 0px;
  text-align: center;
  font-family: 'Poppins',sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-top: 3.125rem;
  
}
input {
  border: 1px solid rgba(0, 0, 0, 0);
  background: #f3ebeb;
  height: 60.8px;
  width: 600px;
  box-sizing: border-box;
    padding: 0px 20px ;
  
}

.form_flex img{
    margin: 0rem;    
    background: #F3EBEB;
    padding-left: 20px;
    padding-right: 10px;    



}

.form_flex{
    display: flex;
    flex-direction: row-reverse;
    width: 640px;
    
}


form button{
    margin-top: 10%;
    border: none;
}

.bk-white{
background-color: white;
min-width: 50rem;
width: 367px;
height: 625px;
}

#status{
display: none;
}
